<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OriginalDataForwarding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OriginalDataForwarding.Properties.Settings>
            <setting name="DpscIp" serializeAs="String">
                <value>192.168.10.238</value>
            </setting>
            <setting name="DpscPort" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="DpscChk" serializeAs="String">
                <value>2102342342</value>
            </setting>
            <setting name="ApMartketType" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="MulticastPort" serializeAs="String">
                <value>7001</value>
            </setting>
            <setting name="RawDataChannel" serializeAs="String">
                <value>9951</value>
            </setting>
            <setting name="Memo" serializeAs="String">
                <value>ApMartketType
Tse: 2
Otc: 3
Tmx: 4
Opt: 5
Emerging: 6
TmxAfterHours: 7
OptAfterHours: 8

MulticastPort
Tse: 7001
Otc: 7002
Tmx: 7003
Opt: 7004
Emerging: 7005
TmxAfterHours: 7203
OptAfterHours: 7204

RawDataChannel
Tse: 9951
Otc: 9952
Tmx: 9953
Opt: 9954
Emerging: 9955
TmxAfterHours: 9960
OptAfterHours: 9961
</value>
            </setting>
            <setting name="HeartBeatFrequency" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="IsKeepNewConnectionWhenOverLimit" serializeAs="String">
                <value>False</value>
            </setting>
        </OriginalDataForwarding.Properties.Settings>
    </userSettings>
</configuration>