<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OriginalDataForwarding.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <OriginalDataForwarding.Properties.Settings>
            <setting name="DpscIp" serializeAs="String">
                <value>192.168.10.238</value>
            </setting>
            <setting name="DpscPort" serializeAs="String">
                <value>8000</value>
            </setting>
            <setting name="DpscChk" serializeAs="String">
                <value>2102342342</value>
            </setting>
            <setting name="TseServerPort" serializeAs="String">
                <value>7001</value>
            </setting>
            <setting name="TseRawChannel" serializeAs="String">
                <value>9951</value>
            </setting>
            <setting name="OtcRawChannel" serializeAs="String">
                <value>9952</value>
            </setting>
            <setting name="TmxRawChannel" serializeAs="String">
                <value>9953</value>
            </setting>
            <setting name="OptRawChannel" serializeAs="String">
                <value>9954</value>
            </setting>
            <setting name="Market" serializeAs="String">
                <value>TSE</value>
            </setting>
            <setting name="MarketComment" serializeAs="String">
                <value>(我是註解) Market 欄請填 TSE  , OTC , TMX , OPT 任一文字</value>
            </setting>
            <setting name="OtcServerPort" serializeAs="String">
                <value>7002</value>
            </setting>
            <setting name="TmxServerPort" serializeAs="String">
                <value>7003</value>
            </setting>
            <setting name="OptServerPort" serializeAs="String">
                <value>7004</value>
            </setting>
            <setting name="HeartBeatFrequency" serializeAs="String">
                <value>30</value>
            </setting>
        </OriginalDataForwarding.Properties.Settings>
    </userSettings>
</configuration>